{% extends "base.html" %}

{% block content %}


<div class="card" style = "width: 80%">
  <div class="card-body">
      <div class="row">
            <div class="col">
              <img src= "{{ weather_dict.icon_link_current }}" alt="Weather Icon">
              <span style="font-size: larger;">{{ weather_dict.temp }}</span>
            </div>
          <div class="col">
              Humidity: {{ weather_dict.humidity }}% <br>
              Wind: {{ weather_dict.wind_speed }}km/h
            </div>
            <div class="col">
              Weather <br>
              {{ weather_dict.timestamp_local }} <br>
              {{ weather_dict.description }}
            </div>
      </div>
       <div class="row">
            <div class="col">
              Column
            </div>
      </div>
       <div class="row">
            <div class="col">
                today
              <img src ="static/01d@2x.png">
                {{ weather_dict.temp }}
            </div>
            <div class="col">
              Column
            </div>
            <div class="col">
              Column
            </div>
            <div class="col">
              Column
            </div>
            <div class="col">
              Column
            </div>
            <div class="col">
              Column
            </div>
      </div>
  </div>
</div>



<h5>This is the location of the weather data:</h5>
{{ weather_dict.location }}
<h5>This is the timezone of the weather data:</h5>
{{ weather_dict.timezone }}
<h5>This is the date and time the data was taken from:</h5>
{{ weather_dict.timestamp_local }}
<h5>This is the cloud description:</h5>
{{ weather_dict.description }}
<h5>This is the temperature in degrees celsius as of the time the data was taken from at that location:</h5>
{{ weather_dict.temp }}
<h5>This is the wind speed of the location in metres per second:</h5>
{{ weather_dict.wind_speed }}



{% endblock %}