{% extends "base.html" %}

{% block content %}

<h3>This is weather data for: {{ weather_dict.location }}</h3>
<div class="card" style = "width: 80%">
  <div class="card-body">
      <div class="row">
            <div class="col">
              <img src= "{{ weather_dict.icon_link_current }}" alt="Weather Icon">
              <span style="font-size: larger;">{{ weather_dict.temp }}</span>
            </div>
          <div class="col">
              Humidity: {{ weather_dict.humidity }}% <br>
              Wind: {{ weather_dict.wind_speed }}km/h
            </div>
            <div class="col">
              Weather <br>
              {{ day_dict.day1 }} {{ day_dict.time }} <br>
              {{ weather_dict.description }}
            </div>
      </div>
       <div class="row">
            <div class="col">
              Column
            </div>
      </div>
       <div class="row">
            <div class="col">
              {{ day_dict.day1 }} <br>
              <img src= "{{ icons_dict.icon0 }}"> <br>
              Max: {{ temps_dict.max0 }} <br>
              Min: {{ temps_dict.min0 }}
            </div>
            <div class="col">
              {{ day_dict.day2 }} <br>
              <img src= "{{ icons_dict.icon1 }}"> <br>
              Day: {{ temps_dict.max1 }} <br>
              Night: {{ temps_dict.min1 }}
            </div>
            <div class="col">
              {{ day_dict.day3 }} <br>
              <img src= "{{ icons_dict.icon2 }}"> <br>
              Day: {{ temps_dict.max2 }} <br>
              Night: {{ temps_dict.min2 }}
            </div>
            <div class="col">
              {{ day_dict.day4 }} <br>
              <img src= "{{ icons_dict.icon3 }}"> <br>
              Day: {{ temps_dict.max3 }} <br>
              Night: {{ temps_dict.min3 }}
            </div>
            <div class="col">
              {{ day_dict.day5 }} <br>
              <img src= "{{ icons_dict.icon4 }}"> <br>
              Max: {{ temps_dict.max4 }} <br>
              Min: {{ temps_dict.min4 }}
            </div>
            <div class="col">
              {{ day_dict.day6 }} <br>
              <img src= "{{ icons_dict.icon5 }}"> <br>
              Day: {{ temps_dict.max5 }} <br>
              Night: {{ temps_dict.min5 }}
            </div>
             <div class="col">
              {{ day_dict.day7 }} <br>
              <img src= "{{ icons_dict.icon6 }}"> <br>
               Day: {{ temps_dict.max6 }} <br>
               Night: {{ temps_dict.min6 }}
            </div>
      </div>
  </div>
</div>

{% endblock %}